

@model NgCollections.Domain.Entities.NgPageWriteup
@{
    ViewBag.Title = "Admin: Edit Page Writeups";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel" style="padding-top:50px">
    <div class="panel-heading">
        <h3><strong>Edit Page Writeups</strong></h3>
    </div>
    <hr />
    @using (Html.BeginForm("EditNgPageWriteups", "Admin",
FormMethod.Post))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.Id)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)
                {
                    case "Id":
                        break;
                    default:
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                                @Html.TextBox(property.PropertyName, null,
                         new { @class = "form-control" })
                            
                            @Html.ValidationMessage(property.PropertyName)
                        </div>
                        break;
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel and return to List", "Index", "Admin", null, new
       {
           @class = "btn btn-default"
       })
        </div>
    }
</div>
