@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>All Categories</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right">ID</th>
                <th>Name</th>
                <th class="text-center">Actions</th>
            </tr>
            <tr>
                <td class="text-right">1.</td>
                <td>Women Short gown</td>
                <td class="text-center">
                    @Html.ActionLink("Browse category", "Product", "ProductDetails", new { id=1 },new { @class="btn btn-default btn-xs"})
                </td>
            </tr>

            <tr>
                <td class="text-right">2.</td>
                <td>Women Long gown</td>
                <td class="text-center">
                    @Html.ActionLink("Browse category", "Product", "ProductDetails", new { id = 2 }, new { @class = "btn btn-default btn-xs" })

                </td>
            </tr>

            <tr>
                <td class="text-right">3.</td>
                <td>Women Skirt & blouse</td>
                <td class="text-center">
                    @Html.ActionLink("Browse category", "Product", "ProductDetails", new { id = 3 }, new { @class = "btn btn-default btn-xs" })

                </td>
            </tr>

            <tr>
                <td class="text-right">4.</td>
                <td>Women Trousers</td>
                <td class="text-center">
                    @Html.ActionLink("Browse category", "Product", "ProductDetails", new { id = 4 }, new { @class = "btn btn-default btn-xs" })

                </td>
            </tr>

            <tr>
                <td class="text-right">5.</td>
                <td>Women Tops</td>
                <td class="text-center">
                    @Html.ActionLink("Browse category", "Product", "ProductDetails", new { id = 5 }, new { @class = "btn btn-default btn-xs" })

                </td>
            </tr>

            <tr>
                <td class="text-right">6.</td>
                <td>Women Packet shirts</td>
                <td class="text-center">
                    @Html.ActionLink("Browse category", "Product", "ProductDetails", new { id = 6 }, new { @class = "btn btn-default btn-xs" })

                </td>
            </tr>
        </table>
    </div>
     
</div>
